html {
    box-align: auto;
}
p, a {
    font-family: 'Exo 2', sans-serif;
}
body {
    background: #000 url(Eriri.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 120%;
}
#btext {
    color: white;
    text-decoration: none;
}
.box {
    background: rgba(255,255,255,0.960);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20%;
    margin-left: 20%;
}
.avatar {
    /*border-radius: 50%;*/
    max-width: 256px;
	background-color: #fff;
    border: 4px solid #fff;
}
.button{
    border-radius: 0px;
    border: none;
	margin-right: -2px;
	margin-left: -2px;
    padding: 0px;
    padding-right: 14px;
    padding-left: 14px;
}
.button:hover {
    border-radius: 0px;
    padding-right: 18px;
    padding-left: 18px;
}

#buttonosu {
    background-color: #cc5288;
}
#buttonosu:hover {
    background-color: #e0639a;
}
#buttonkitsu {
    background-color: #f75239;
}
#buttonkitsu:hover {
    background-color: #fc654e;
}
#buttonyoutube {
    background-color: #ff0000;
}
#buttonyoutube:hover {
    background-color: #ff3d3d;
}
#buttontwitch {
    background-color: #6441a4;
}
#buttontwitch:hover {
    background-color: #a683e6;
}
#buttondiscord {
    background-color: #7289DA;
}
#buttondiscord:hover {
    background-color: #93a7ed;
}
#buttongitlab {
    background-color: #fc6d26;
}
#buttongitlab:hover {
    background-color: #ff9a69;
}
#buttongithub {
    background-color: #24292e;
}
#buttongithub:hover {
    background-color: #565a5e;
}
