html {
    box-align: auto;
}
p, a {
    font-family: 'Exo 2', sans-serif;
}
body {
    background: #000 url(Eriri.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: 150%;
}
#btext {
    color: white;
    text-decoration: none;
}
.box {
    background: rgba(255,255,255,0.8);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 20%;
    margin-left: 20%;
}
.align1 {
    margin: 12%;
}
.avatar {
    border-radius: 50%;
    max-width: 128px;   
    border: 12px solid rgba(255,255,255,0.8);
}
.button{
    border-radius: 12px;
    border: none;
    padding: 0px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 12px;
}
#buttonosu {
    background-color: #cc5288;
}
#buttonkitsu {
    background-color: #f75239;
}
#buttonyoutube {
    background-color: red;
}
#buttontwitch {
    background-color: #6441a4;
}
#buttondiscord {
    background-color: #7289DA;
}
#buttongitlab {
    background-color: #fc6d26;
}
#buttongithub {
    background-color: #24292e;
}
